
body {
    margin: 0;
    text-align: center;
    color: #001D3D;
    
}

#hero {   
    margin: 0;
    height: 350px;
    background-image: url("images/Kiev.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h1 {
    background: #003566;
    padding: 5px 30px;   
    color: white; 
}

#hero h2 {
    background: #FFD60A;
    padding: 5px 30px;
    color: black;
    max-width: 600px;
}

.border-right {
    border-right: 3px solid black;
}

#churches-header {
    margin: 50px 0 0;
}

#churches-section {
    margin: 5px 0 100px;
    height: 200px;
    background: white;
    display: flex;
    justify-content: space-around;
}

#churches-section div {
    flex: 1;
}

.church-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#guide-section {
    margin: 0 auto 50px;
    color: white;
    height: 250px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, #001D3D, #0A89FF);
}

#guide-section:hover {
    color: black;
    background: linear-gradient(90deg, #FFD60A, #FFC300);
}

.container {
    max-width: 300px;
}

.container p {
    font-style: italic;
}

#guide-section img {
    height: 150px;
    border: 5px solid white;
    border-radius: 50%;   
}


